body{
    height:100%;
}

table{
    border: 2px solid grey;
    border-radius: 15px;
    width: 200px;
    margin: 0 auto;
    color:grey;
    text-align:center;
    margin-top:5%;
    padding: 15px;
	background-color: rgb(160,201,160);
}

table tr td{
	padding:15px;
}

#messErrors{
    border:2px solid grey;
    border-radius: 10px;
    right:0;
    padding:10px;
    position: fixed;
	display:none;
}

.errorBlock{
	margin-top:5px;
	padding:5px;
	color: #D63301;
	background-color: #FFCCBA;
}

#mess{
    height:35px;
}
#button{
    width:175px;
}

#form{
    width:165px;
}

a{
  color: black; /* цвет текста */
   border: 2px solid grey;
   margin-top:30px;
  text-decoration: none; /* убирать подчёркивание у ссылок */
  background: white;
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border-radius: 10px;
} 
a:hover { 
	background: lightgrey; 
} 

.backlight {
  display: block;
  box-sizing: border-box;
  margin: 0 auto 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  transition: .5s linear;
}

.backlight:focus {
  outline: none;
  box-shadow: inset 0 1px 3px 1px  rgba(0,0,0,.5), inset 0 0 0 60px rgba(220,220,220,0), 0 1px rgba(255,255,255,.08);
}



/*	тут лишнее */

.showArr:hover{
	background-color:rgba(140,181,140, .4);
}

.staticTable{
	position:fixed;
	text-align:left;
}

#countTipa{
	border: 1px solid grey;
	border-radius: 10px;
	width:160px;
	height:200px;
	position:fixed;
	right:0;
	margin-right:5px;
	padding:5px;
	color:green;
	overflow:hidden;
}