/*	zeroing START	*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	border-image-width:0;
    cursor: default;   
}

html {
	height: 100%;
}

body {
	font: 13px/18px Arial, sans-serif;
	height: 100%;
}

li{
	list-style:none;
}

#centerError{
	font-size:70px;
	margin-top:200px;
}

/*	zeroing END	*/

@media  (min-width: 769px) {
    .footer{
        width: calc(100% - 50px);
    }
    
    .shop-item{
        width: 23%;
    }
}

@media  (max-width: 768px) {
    
    .footer{
        width: 100%;
        border-top: 2px solid #222222;
    }
    
    .avatar-user img{
        width: 80%;
        height: auto;
        margin: auto;
    }
    
    .avatar-user{
         text-align: center;   
    }
    
    .inventory-item img, .inventory-item-potion img{
        width: 70px;
        height: 70px;
    }
    
    .shop-item{
        width: 45%;
    }
}

@media  (max-width: 1024px) and (min-width: 769px){
    
    .shop-item{
        width: 30%;
    }
}

.footer{
    display: none;    
}

.name-user{
    width: 100%;
    text-align: center;
}

.inventory-item, .inventory-item-potion{
    position: relative;
    margin: 10px;
    margin-right: 0;
    border: 1px solid #e7e7e7;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    min-height: 60px;
    min-width: 60px;
    display: inline-block;
}

.inventory-control{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba( 21, 21, 21, .6);
    height: 40%;
    color: white;
    vertical-align: middle;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
    text-align: center;
}

.inventory-control:hover, .inventory-control-delete:hover{
    background-color: rgba( 21, 21, 21, .8);
}

.inventory-control-delete{
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba( 21, 21, 21, .6);
    color: white;
    padding: 3px;
    border-top-right-radius: 5px;
    display: none;
}

.damage-info-item{
    font-size: 1.2em;
}

.statistic-col{
    background-color: white;
    padding: 2px;
    margin-top: 10px;
}

.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    height: 60px;
    background-color: #f5f5f5;
}

.pop-info{
    display: none;
}

.count-potion{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba( 0, 0, 0, 0);
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
    width: 33%;
    color: black;
}

.count-potion:hover{
    background-color: rgba( 21, 21, 21, .6);
    color: white;
}

/*    SHOP START     */

.shop-item{
    margin-left:20px;
	margin-top:10px;
	list-style:none;
    display: inline-block;
}

.shop-item-image, .shop-item-right-info {
    width: 48%;
    height: auto;
    display: inline-block;
    float: left;
}

.shop-item-image img{
    max-width: 100%;
    height: auto;
}

.shop-item-right-info-block img, .price-shop img{
    width: 20px;
    height: auto;
}

.shop-item-right-info-block{
     padding-top: 5px;
     padding-bottom: 5px;   
     text-align: center;
}

.price-shop{
    width: 48%;
    display: inline-block;
}

.btn-buyThing{
    width: 48%;
}

.shop-item-bottom-info{
    width: 100%;
    display: inline-block;
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

.bottom-char-shop{
     width: 18%;
     display: inline-block;
}

.bottom-char-shop img{
     width: 20px;
     height: auto;
}

.right-sort{
     float: right;   
}

/*    SHOP END   */

.system-messages-container{
    z-index: 9999;
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 5px;
}

.system-message{
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    min-width: 200px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    margin-bottom: 5px;
}

.house-up-button{
    width: 100%;
    height: 67px;
    padding-top: 15px;
    box-sizing: border-box;
}

.house-up-button img{
    height: 70%;
    width: auto;
    padding: 5px;
    border-radius: 4px;
}

.house-up-button img:hover{
     background-color: lightgrey;   
}

.my-color{
    background-color: #A0C9A0!important;
}

.leagues{
	background-color: rgb(242,242,242);
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}

.league_item{
    display: inline-block;
    padding: 5px;
}

.league_name{
     font-size: 1.2em;   
}

.league_item:hover{
     background-color: white;
}

.smith{
     margin-top: 5px;   
}

.title-smith{
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
}

.smith-info{
     padding-top: 15px;   
     padding-bottom: 15px;   
}

.smith-info .pop-info{
    display: inline-block!important; 
    width: 100%;
}

.smith-info .Info{
    border: 0;
}

.smith-up{
    border-top: 1px solid #e7e7e7;
    padding-top: 5px;
    #display: none;
}

.type_up img{
     width: 36px;   
}

.result-sum-row-smith .result-sum:last-child{
    font-weight: 600;
}

.result-sum-row-smith .result-sum{
    width: auto;
    padding: 2px;
}

input:disabled:hover{
     cursor: default;   
}

.value-smith{
     float: left;   
}