/*	zeroing START	*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	border-image-width:0;
}

html {
	height: 100%;
}

body {
	font: 13px/18px Arial, sans-serif;
	height: 100%;
}

li{
	list-style:none;
}

#centerError{
	font-size:70px;
	margin-top:200px;
}

/*	zeroing END	*/
/*	modules START	*/

.currentMenuItem{
	background-color:rgb(140,215,140);
}

.wrapper {
	width:100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.header {
	background: rgba(0,0,0,0.2);
	width:96%;
	height:11.4%;
	float:right;
	text-align:center;
}

.middle {
	width: 100%;
}

.container {
	width: 100%;
	float: left;
	overflow: hidden;		/*Прячет то, что вылезло*/
	text-align:center;
	display:inline-block;
}

.left-sidebar {
	float: left;
	width: 4%;
	position: fixed;
	background: rgba(0,0,0,0.66);
	height:100%;
}

.footer {
	bottom:0;
	margin: -4.5% 4% 0;
	width: 96%;
	height: 9.5%;
	background-color: rgb(194,217,194);
	position: relative;
	text-align:center;
	float:left;
}

.lil{
	list-style:none;
	width:100%;
	float:left;
}

#bottomMenu{
	bottom:0;
	margin-bottom:20px;
	margin-top:100%;
	width: 100%;
	position:absolute;
}

.menuUrl{
	height:30px;
}

.menuUrl img{
	float:left;
}

#mess4{
	bottom:0;
	margin: -4% 3px 0;
	width: 15%;
	height: 7%;
	position: fixed;
	right:0;
	border-radius:5px 5px 0 0;
	padding:5px;
	color: white;
}

#alert{
	position: fixed;
	background-color:rgba(0,0,0,.3);
	top:0;
	width:100%;
	height:100%;
	text-align:right;
	display:none;
}

#alertWindow{
	margin:auto;
	margin-top:13%;
}

#deleteAlertBlock{
	width:350px;
	height:150px;
	background-color: white;
	border-radius:10px;
	margin:auto;
}

#topAlert{
	height:25px;
	text-align:right;
	background-color: rgb(195,195,195);
	border-radius:10px 10px 0 0;
}

#textAlert{
	text-align:center;
	height:100px;
}

#buttonsAlert{
	height:25px;
	text-align:right;
}

#buttonsAlert a{
	padding:10px;
	background-color: rgb(140,181,140);
	text-decoration:none;
	color:white;
}

#buttonsAlert a:last-child{
	border-radius: 0 0 10px 0;
}

#buttonsAlert a:hover{
	background-color: rgb(110,151,110);
}

.photo img{
	max-height:30px;
}

.photo a{
  display:block;
  width:25%;
  color: #fff; 
  text-decoration: none; 
  background: rgba(190, 190, 190, 0.8); 
  padding: 10%;
  padding-left:25%;
  padding-right: 50%;
  outline: none; 
}

.photo {
    display:block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
	width:100%;
}

.photo:hover:after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 100%; right: -150%; bottom: 0px; top:0px; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(0,0,0,0.8); /* Полупрозрачный цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 13px; /* Размер текста подсказки */
    padding: 10px 10px 9.5px; /* Поля */
}

.headerInformation:hover:after {
	 content: attr(data-title);
	 position: absolute;
	 font-size:19px;
	 margin-top:5px;
	 right:0;
	 margin-right:10px;
}

a:hover { background: rgb(0, 0, 0); } 
a:active { background: rgb(119, 136, 153); }  

.resource{
	font-size:30px;
	background-color: rgba(135,180,135,0.7);
	padding:2px;
	float:left;
	margin-top:1%;
	width:100%;
	border-radius:10px;
}

.lvlAndExp{
	position:relative;
	float:left;
	width:100%;
	background-color:white;
	padding-bottom:25px;
	border:1px solid rgba(72,72,72,0.7);
	border-radius:10px;
}

.allHp{
	float:left;
	width:100%;
	border:1px solid black;
}

#sleep{
	position:absolute;
	padding-left:4%;
	padding-top:1.5%;
	border-radius:10px 0 0 10px;
	padding-right:2%;
}

#rangeSleep{
	position:absolute;
	left:0;
	margin-left:28px;
	height:100%;
	display:none;
}

#sleepHours{
	position:absolute;
	right:0;
	margin-top:1px;
	padding-top:1.5%;
	padding-bottom:2%;
	margin-right:12%;
	width:25px;
	display:none;
}

#sleepGo{
	position:absolute;
	padding-left:2.5%;
	right:0;
	padding-top:1.5%;
	border-radius: 0 10px 10px 0;
	padding-right:2%;
	margin-right:-1px;
	margin-top:1px;
	display:none;
}

#sleepGo:hover{	background-color:rgb(193,193,193);	}
#sleep:hover{	background-color:rgb(193,193,193);	}

.lvl{
	font-size:19px;
	margin-top:2%;
	position:absolute;
	margin-left:4%;
}

#gold{
	width:75%;
	float:left;
	margin-top:1%;
	padding:2px;
}

#another{
	width:75%;
	float:left;
	margin-top:1%;
	padding:2px;
}

#donat{
	width:75%;
	float:left;
	margin-top:1%;
	padding:2px;
}

.imgResource{
	float:left;
}

.minor{
	background: rgba(145,180,145,0.9);
	float:left;
	width:100%;
	margin-left:5%;
	border-radius:10px;
	height:70px;
}

.minorResource{
	margin-top:4px;
}

.counter{
	float:left;
	width:100%;
	background: rgba(145,180,145,0.9);
	margin-left:5%;
	border-radius:10px 0 0 10px;
	height:70px;
}

.counter1{
	margin-top:4px;
}

.topItem{
	display:inline-block;
	position:relative;
	width:16%;
	min-width:200px;
	margin-left:2px;
}

#percentExp{
	float:left;
	position: absolute;
	background-color:rgba(169,169,59,0.4);
	height:25px;
	border-radius:10px 10px 10px 10px ;
	min-width:12px;
}

#percentHp{
	float:left;
	position: absolute;
	background-color:rgba(211,128,120,0.4);
	height:25px;
	border-radius:10px;
	min-width:12px;
}

.footerCorrect{
	float:left;
	margin-top:4.5%;
	height:5px;
	width:100%;
}

#mda{
	display:none;
}

.detail1{
	width:45px;
	float: left;
	margin-left:20%;
	margin-top:5px;
	height:45px;
	border:1px solid black;
	border-radius:10px;
	padding:2px;
	background-color: rgba(140, 181, 140, .5);
}

.detail2{
	margin-left:1%;
	width:45px;
	float:left;
	margin-top:5px;
	height:45px;
	border:1px solid black;
	border-radius:10px;
	padding:2px;
	background-color: rgba(140, 181, 140, .5);
}

.photoDetail:hover:after {
    content: attr(data-title); 
    position: absolute; 
	bottom:61px;	
	margin-left:-30px;
    z-index: 1;
    background: rgb(194,217,194);
	font-weight: 700;
	border-radius:5px 5px 0 0;
    text-align: center;
    padding: 10px;
}

/*	modules END	*/
/*	index START	*/

.displayPutOn{
	position:absolute;
	bottom:0;
	display:none;
	background-color: rgba(0,0,0,0.8);
	border-radius:0 0 4px 4px;
	padding-top:2px;
	padding-bottom:2px;
	width:100%;
	color:white;
	cursor: default;
}

.delete{
	position:absolute;
	top:0;
	right:0;
	display:none;
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-family:Arial Black;
	font-size:20px;
	width:30%;
	cursor: default;
}

.avatarimg{
	height:100%;
	width:100%;
}

.leftavatar{
	float:left;
	width:100%;
}

.leftavatar:hover{
	background-color: rgba(0,155,0, .1);
}

.avatar{
	float:left;
	margin-left:4%;
	background: rgba(0,0,0,0.05);
	width:18%;
}

#addSomeStats input{
	height:20px;
	float:left;
	padding:1px;
	border:1px solid darkgrey;
}

#addSomeStats input:focus{
	height:20px;
	border:1px solid rgb(140, 181, 140);
	padding:1px;
	outline:none;
}

#addSomeStats a{
	color: black; 
	background-color: rgb(160, 201, 160); 
	float:left;
	padding:1px;
	padding-top:3px;
	border-radius:15px;
	width:27%;
	margin-left:2px;
	text-decoration:none;
}

#addSomeStats a:hover { background: rgb(140, 181, 140); } 
#addSomeStats a:active { background: rgb(119, 136, 119); }  

.addSomeStatsBigButton a{
	width:100%;
}

.clothing{
	left:0;
	top:0;
	float:left;
	background: rgba(0,0,0,0.05);
	width:14%;
}

.clothimg{
	position:relative;
	float:left;
	margin-left:14%;
	margin-top:5px;
	margin-bottom:3%;
	border: 1px solid rgb(40,81,40);
	border-radius:5px;
	height:60px;
}

.inventory{
	background: rgba(0,0,0,0.05);
	width:64%;
	float:left;
	list-style:none;
}

.inventoryItems{
	float:left;
	height:60px;
	position:relative;
	display:inline-block;
}

.invItem{
	display:inline-block;
	border: 1px solid rgb(40,81,40);
	border-radius:5px;
	position:relative;
	margin-left:1%;
	margin-top:5px;
}

.avatar input{
	width:40px;
}

.avatar table{
	margin:auto;
}

#addSomeStats{
	float:left;
	background: rgb(242,242,242);
	width:100%;
	display:none;
}

.totalChar{
	margin-top:3px;
	margin-bottom:3px;
	position:relative;
	width:90%;
	background-color:white;
	padding-bottom:35px;
	border:1px solid rgba(72,72,72,0.7);
	border-radius:10px;
	margin-right:10px;
	float:right;
}

.percentChar{
	float:left;
	position: absolute;
	background-color:rgba(155,163,213,.5);
	height:35px;
	border-radius:10px;
}

.charValue{
	font-size:19px;
	margin-top:8px;
	position:absolute;
	margin-left:45%;
}

#contain{
	width:100%;
}

.imgDiv{
	margin-top:2%;
	position:absolute;
	margin-left:5px;
}

.power{
	position:relative;
	width:90%;
	margin-right:10px;
	float:right;
}

.countPotions{
	position:absolute;
	top:0;
	left:0;
}

/*	index END	*/
/*	arena START	*/

.textBot{
	min-height:120px;
	text-align:left;
	padding:5px;
}
.botStatistic table{
	width:210px;
}
.botStatistic table  tr:first-child td{
	width:100%;
	background-color: rgba(140, 181, 140, .6);
}
.botStatistic tr td:first-child{
	background-color: rgba(188, 199, 188, 0.4);
	border-radius:10px;
	width:65%;
}

.botStatistic td{
	padding:3px;
	width:35%;
}

.nextBot a{
	display:block;
	color: #fff; 
	text-decoration: none; 
	background-color: rgba(190, 190, 190, 0.8); 
	border-radius:25px;
	padding-left:7px;
	padding-right:7px;
	float:left;
	outline: none;
	margin-bottom:-6px;
}

.nextBot a:hover{
	background-color: rgb(170, 190, 170); 
}

#minLvlarena{
	padding:1px;
	outline:none;
	border:1px solid rgb(141, 180, 141);
}

#maxLvlarena{
	padding:1px;
	outline:none;
	border:1px solid rgb(141, 180, 141);
}

.attackUser a{
	display:block;
	color: #fff; 
	text-decoration: none; 
	background-color: rgba(190, 190, 190, 0.8); 
	padding-right: 70%;
	padding-left: 25%;
	float:left;
	outline: none;
	width:3%;
}

.attackUser a:hover{
	background-color: rgb(170, 190, 170); 
}

.avatarArena{
	width:78%;
}

.arenaDown{
	float:bottom;
}

/*	arena END	*/
/* shop START	*/

.shop {
	margin-left:6%;
	margin-top:10px;
	list-style:none;
	float:left;
	width:18%;
	max-width:245px;
	background-color: rgba(140,181,140, .1);
	border-radius:10px;
}

.name{
	float:left;
	width:50%;
}

.type{
	float:right;
	width:50%
}

.rightchar{
	float:right;
	width:25%;
	padding-top:4%;
	padding-bottom:3%;
}

.imgThing{
	float:left;
	max-width:140px;
	max-height:140px;
	width:60%;
}

.bottomchar{
	float:left;
	width:19%;
}

.topThings{
	background-color: rgba(140,181,140, .5);
	border-radius:10px 10px 0 0;
	height:11.4%;
	width:100%;
	float:right;
	text-align:center;
}

.centerThing{
	width: 100%;
	float: left;
}

.bottomThing{
	width: 100%;
	background-color: rgba(140,181,140, .5);
	position: relative;
	text-align:center;
	float:left;
	padding-top:2px;
}

.centerRight{
	width:85%;
}

.buyThing{
	width:100%;
	float:left;
	position:relative;
}

.price{
	width:50%;
	float:left;
	position:relative;
	margin-top:2%;
}

.buyThing a{ 
	margin-left:50%;
	display:block;
	color: #fff; 
	text-decoration: none; 
	background: rgba(140, 171, 140, 0.8); 
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right:28%;
	padding-left:18%;
	outline: none; 
	border-radius:0 0 10px 0;
}

.buyThing a:hover{	background-color: rgba(0,0,0,0.5);	}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(check_radio_sheet.png) right top no-repeat;
}

.shopPhoto {
    position: relative; /* Относительное позиционирование */
	width:7%;
	font-size: 16px;
}

.mainSort a{
	width:100%;
	display:block;
	color: #fff; 
	text-decoration: none; 
	background: rgba(190, 190, 190, 0.8); 
	padding: .3em 1em;
	padding-right: 2.25em;
	outline: none; 
}

.shopPhoto a:hover { background: rgba(255,255,255,0.5); } 

.rightSort a:hover{	background:rgba(0,0,0,0.5);	}

.ShopMenuContainer{
	width:96%;
	float:right;
}

.shopMenu{
	list-style:none;
	float:left;
}

.shopUl{
	width:50%;
}

.on{
	display:list-item;
	list-style:none;
}

.off{
	display:none;
}

.mainSort{
	width:96%;
	float:right;
}

.leftSort{
	width:35%;
	float:right;
}

.rightSort{
	float:right;
	top:0;
}

.rightSort a{
	padding:3px;
}

/*	shop END	*/
/*	fightLog START	*/


.allInformation{
	margin:auto;
	min-width:800px;
	width:75%;
}


.infoSmb{
	min-width:100px;
	width:10%;
	display:inline-block;
}

.infoSmb .Info:first-child{
	border-right: 0;
	border-radius:10px 10px 0 0;
}

.Info{
	margin-top:2px;
	border:1px outset white;
}

.equipItem img{
	padding-left:2px;
	padding-right:2px;
	border:1px solid rgba(140, 181, 140, .5);
	border-radius:10px;
}

.equipItem img:hover{
	background-color: rgba(140, 181, 140, .5);
	border:1px solid rgba(0,0,0,0);
}

.agressorBlock{
	width:16%;
	display:inline-block;
}

.defenderBlock{
	width:16%;
	display:inline-block;
}

.crit{
	background-color: rgba(224,76,64,0.4);
}

.damage{
	background-color: rgba(43,87,150,0.4);
}

.Dodge{
	background-color: rgba(21,171,100,0.4);
}

.armor{
	background-color: rgba(0,0,119,0.4);
}

.SecondHit{
	background-color: rgba(43,87,150,0.4);
}

.shield{
	background-color: rgba(0,0,119,0.4);
}

.winner{
	background-color: rgba(101,171,138,0.7);
}

.loser{
	background-color: rgba(145,65,51,0.7);
}

.totalDamage{
	background-color: rgba(133,133,133,.5);
	border-radius:0 0 10px 10px;
}

.statistic{
	background-color: rgba(122,152,122,.3);
	border-radius:10px 10px 0 0;
	margin-bottom:5px;
	cursor: default;
}

.smbEquip{
	width:10%;
	display:inline-block;
	margin-top:3px;
}

.smbDamage{
	font-size:medium;
	cursor: default;
}

.smbDamage > div{
	margin-top:1px;
}

.warriorNick a{
	color:black;
	background-color: inherit;
	text-decoration:none;
}

.warriorNick a:hover{
	text-decoration:underline;
}

.prize{
	width:332px;
	margin:auto;
	text-align:center;
	border-radius:0 0 10px 10px;
}

/*	fightLog END	*/
/*	mail START	*/

.winnerMail{
	background-color: rgba(101,171,101,0.4);
}

.loserMail{
	background-color: rgba(145,65,51,0.4);
}

.mailMenuContainer{
	width:96%;
	float:right;
}

.mailMenu{
	list-style:none;
	float:left;
}

.mail {
	position:relative;
	margin-left:6%;
	margin-top:1%;
	list-style:none;
	float:left;
	width:45%;
	margin-left:27%;
	border-radius: 5px;
	border:2px solid rgba(0,0,0,0.2);
}

.mail:hover{
	background-color: rgba(164,205,164,0.2);
}

.mail img{
	float: left;
}

.nick{
	width:15%;
	float:left;
	display:inline-block;
	margin-left:10px;
	text-align:left;
}

.mail .time{
	display:inline-block;
	margin-right:10px;
	float:right;
}

.mail .title{
	display:inline-block;
	width:50%;
	font-weight:bold;
}

.mail .textMessage{
	margin:10px;
	float:left;
	width:95%;
	overflow: auto;
	text-align:left;
}

.AnswerThis{
	display:none;
	width:50%;
	margin-left:25%;
}

textArea{
	resize: none; 
}

 .mail textarea {
	 width:100%;
	 padding:0;
	 border:1px solid rgba(0, 0, 0, 0.5);
 }
 
 .mail input{
	 width:100%;
	 padding:0;
	 border-radius:5px 5px 0 0;
	 border:1px solid rgba(0, 0, 0, 0.5);
 }
 
 .mail a{
  text-decoration: none; 
  display:block;
  color: #fff; 
  background: rgba(0, 0, 0, 0.5); 
  float:left;
  outline: none;
  width:100%;
  margin-left:2px;
 }
 
 .leftA{
	border-radius:0 0 0 5px;
 }

  .rightA{
	border-radius:0 0 5px 0;
 }
 
 
.mail a:hover { background: rgba(0, 0, 0,0.7); } 
.mail a:active { background: rgb(75, 120, 75); }  

#moreMessages{
	margin-right:5px;
	margin-top:71px;
	right:0;
	width:27%;
	background-color: rgba(111,111,111,.3);
	max-height:364px;
	overflow: auto;
	position:fixed;
}

#form{
	line-height:0;
	padding-top:5px;
	padding-bottom:5px;
	width:27%;
	text-align:right;
	margin-right:5px;
	margin-bottom:87px;
	background-color:rgba(140,181,140,.4);
	border-radius:0 0 10px 10px;
	right:0;
	bottom:0;
	position:fixed;
}

#textMessage{
	float:left;
	margin-left:10px;
}

#controlMail{
	background-color:rgba(140,181,140,.4);
	line-height:0;
	width:27%;
	text-align:right;
	margin-right:5px;
	margin-top:51px;
	border-radius:10px 10px 0 0;
	right:0;
	position:fixed;
}

#controlMail img:hover{
	background-color:rgba(255,255,255,0.5);
}

.timeMore{
	float:right;
	margin-right:5px;
}

.titleMore{
	font-weight:bold;
	float:left;
	margin-left:5px;
}

.messageMore{
	margin-left:10px;
	float:left;
	text-align:left;
}

hr{
    color: rgb(255,255,255); /*для IE */
    background-color:rgb(255,255,255); /*для Firefox, Opera, Safari*/
    border:0px none;
    height:1px; /* высота 1px IE, Firefox, Opera, Safari */
    clear:both; /* для очистки, если тег идет после float елемента */
}

#moreMessages textArea{
	margin-top:3px;
	resize: none; 
}

textArea:focus{
	outline: none;
	border: 1px solid rgb(140,181,140);
}

#idSender{
	display:none;
}

.textMessage a{
	width:20%;
	margin:auto;
	padding:5px;
}

/*	mail END	*/
/*	ПЕРЕДЕЛАТЬ И УДАЛИТЬ	*/

#timer{
display:none;
margin:auto;
width:35px;
}

#timerMin{
float:left;
}

#timerSec{
float:right;
}

.timerHeader{
margin:auto;
width:40px;
}

.widthTimerHeader{
margin:auto;
width:60px;
}

/*			*/
/*	search START	*/

#searchInput{
	position:fixed;
	left:0;
	margin-left:5%;
	margin-top:10px;
}

#searchInput:focus{
	outline: none;
	padding:2px;
	border: 1px solid rgb(140,181,140);
}

#clientsSearch{
	margin-top:10px;
	margin-right:5px;
	float:right;
	width:40%;
	border-radius:10px 0 0 10px;
}

#clansSearch{
	margin-top:10px;
	margin-right:5px;
	float:right;
	width:40%;
}

.searchResult{
	width:100%;
	display:inline-block;
	background-color:rgba(180,180,255,.5);
}

.searchResult:hover{
	background:rgb(190,190,254);
}

.searchResultClan{
	width:100%;
	display:inline-block;
	background-color:rgb(197,217,197);
}

.searchResultClan:hover{
	background:rgb(177,207,177);
}

.leagueSearchTop{
	margin-left:5%;
	width:15%;
	float:left;
}

.leagueSearch{
	margin-left:5%;
	width:15%;
	float:left;
	line-height:9px;
}


.leagueClanSearch{
	width:15%;
	float:left;
	line-height:9px;
}

.leagueClanSearchTop{
	width:15%;
	float:left;
}

.nickSearch{
	width:25%;
	float:left;
	text-align:center;
}

.lvlSearch{
	width:15%;
	float:left;
}

.clanSearch{
	float:left;
	width:25%;
}

.clanSearch a{
	color:black;
	text-decoration: none; 
}

.clanSearch a:hover{
	background-color: rgba(0,0,0,0);
	text-decoration: underline; 
}

.powerSearch{
	float:left;
	width:15%;
}

.searchTop{
	width:100%;
	background-color:rgba(180,180,255,.5);
	height:18px;
	border-radius:10px 0 0 0;
	margin-bottom:5px;
}

.searchTopClan{
	width:100%;
	background-color:rgb(197,217,197);
	height:18px;
	border-radius:0 10px 0 0;
	margin-bottom:5px;
}

.searchTop a{
	color: #fff; 
	text-decoration: none; 
	background: rgba(190, 190, 190, 0.8); 
	float:left;
	width:100%;
}

.searchTop a:hover{
	background: rgba(111, 111, 111, 0.8); 
}

.searchTopClan a{
	display:block;
	color: #fff; 
	text-decoration: none; 
	background: rgba(190, 190, 190, 0.8); 
	float:left;
	outline: none;
	width:100%;
}

.searchTopClan a:hover{
	background: rgba(111, 111, 111, 0.8); 
}

/*	search END	*/
/*	town START	*/

.workBlock{
	display:inline-block;
	list-style:none;
	background-color: rgba(140, 201, 140, .4);
	margin-left:4.3%;
	padding:10px;
	border-radius:10px;
	margin-top:10px;
	width:25%;
}

.workBlock a{
	background-color:rgba(140, 201, 140, .8);
	text-decoration: none;
	color: black;
	padding:5px 15px;
	border-radius:10px;
}

.workBlock a:hover{
	background-color:rgb(140, 201, 140);
}

.workTitle{
	text-align:center;
}

.workDescription{
	text-align:left;
	margin-bottom:5px;
}

.riverRaw{
	display:list-item;
	list-style:none;
	float:left;
}

.riverBlock{
	padding:25px;
	background-color:rgba(140,140, 200, .5);
	display:inline-block;
}

.riverBlock:hover {
	background-color:rgba(140,200, 140, .7);
}

.choosedRiverBlock{
	background-color: rgb(140, 181, 140);
}

#riverPlace{
	width:350px;
	margin:auto;
}

#riverMenu{
	position:absolute;
	left:70%;
	top:25%;
	border:1px solid rgba(140,181,140,.5);
	padding:5px;
	border-radius:10px;
}

#countNetworks{
	float:left;
}

#priceRiverBlock{
	margin-top:5px;
}

#priceRiver{
	display:inline-block;
}

#riverMenu a{
	background-color:rgba(140, 201, 140, .6);
	text-decoration: none;
	color: black;
	padding:5px 15px;
	border-radius: 0 10px 10px 0;
	margin-left: 5px;
}

#riverMenu a:hover{
	background-color:rgb(140, 201, 140);
}

.invItemSmith:hover{
	background: rgba(140, 181, 140, 0.5); 
}

#infoSmithTable{
	padding:5px;
	margin:auto;
}

#infoSmithTable td{
	width:150px;
}

#infoSmithTable tr td:first-child{
	background-color: rgb(219,224,219);
	border-radius:10px;
	padding:3px;
}

.upSmithTable{
	padding:5px;
	margin:auto;
}

.upSmithTable td{
	width:35px;
}

.upSmithTable tr td:first-child , .upSmithTable tr td:last-child{
	width:50px;
	background-color: rgb(219,224,219);
	border-radius:10px;
	padding:3px;
}

.upSmithTable a{
	color: #fff; 
	text-decoration: none; 
	background: rgba(140, 181, 140, 0.8); 
	padding:5px;
	border-radius:10px;
}

.upSmithTable a:hover{
	background: rgb(110, 151, 110); 
}

#informationSmith{
	background-color: rgb(242,242,242);
	width:25%;
	display:inline-block;
	float:left;
	margin-left:2px;
}

#smithBlock{
	background-color: rgb(242,242,242);
	width:25%;
	display:inline-block;
	float:left;
	margin-left:2px;
}

#allPowerUpsSmith{
	width:100%;
	display:inline-block;
}

.powerUpSmith{
	margin-left:20%;
}

#putSmith{
	text-align:center;
	width:100%;
	display:inline-block;
}

#putSmith img{
	border:1px solid rgb(140,181,140);
	border-radius:10px;
	margin-left:40%;
}

#ul_town{
	margin-top:45px;	
}

.houseItem{
	margin:auto;
	margin-bottom:5px;
	width:75%;
	height:50px;
}

.nameHouseItem{
	padding-top:15px;
	float:left;
	width:10%;
	height:35px;
	background-color: rgba(140,181,140,.7);
	margin-left:1px;
}

.imageHouseItem{
	float:left;
	width:9%;
	height:50px;
	background-color: rgba(140,181,140,.7);
	border-radius:10px 0 0 10px;
}

.textHouseItem{
	padding-top:15px;
	float:left;
	width:44%;
	height:35px;
	background-color: rgba(140,181,140,.7);
	margin-left:1px;
}

.lastHouseItem{
	float:left;
	width:10%;
	height:50px;
	background-color: rgba(140,181,140,.7);
	margin-left:1px;
	border-radius: 0 10px 10px 0;
}

.littleHouseItem{
	padding-top:15px;
	float:left;
	width:8%;
	height:35px;
	background-color: rgba(140,181,140,.7);
	margin-left:1px;
}

.lastHouseItem a{
	display:block;
	color: #fff; 
	text-decoration: none; 
	float:left;
	outline: none;
	width:100%;
	height:50px;
	border-radius: 0 10px 10px 0;
}

.lastHouseItem a:hover{
	background-color:rgba(0,0,0,.3);
}

/*	house END	*/
/*	advertisings START	*/

.allAdvertisings{
	width:50%;
	margin:auto;
	text-decoration: none; 
}

.allAdvertisings li{
	background-color: rgba(221,221,221,.3);
	margin-top:10px;
	border-radius:10px;
	padding:5px;
	min-height:50px;
}

.advertisingsMenu{
	float:right;
	margin-right:15px;
	width:23%;
}

.advertisingsMenu a{
	display:block;
	color: #fff; 
	text-decoration: none; 
	background: rgba(122,211,122,0.6); 
	float:left;
	outline: none;
	width:100%;
	border-radius:10px;
	margin-bottom:5px;
}

.advertisingsMenu hr{
	background-color:rgba(53,189,53,.5);
	color:rgba(53,189,53,.5);
}

.sectionADV{
	width:100%;
}

.sectionAdvPost{
	width:100%;
}

.sectionADV a{
	display:inline-block;
	position:relative;
	width:32%;
	margin-left:2px;
}


.sectionBorder a{
	display:block;
	color: #fff; 
	text-decoration: none; 
	background: rgba(122,211,122,0.6); 
	float:left;
	margin-left:25px;
	outline: none;
	width:25%;
	border-radius:10px;
}
.allAdvertisings  textarea{
	border-radius:10px;
}

.advertisingsMenu a:hover{
	background-color:rgba(140,181,140,.8);
}

.sectionBorder a:hover{
	background-color:rgba(140,181,140,.8);
}

.imageAdv img{
	max-width:500px;
	max-height:450px;
	min-width:220px;
}

.imageAdv{
	width:100%;
	min-height:25px;
	max-width:500px;
	max-height:500px;
	margin:auto;
}

.autorAdv{
	float:left;
	margin-left:25px;
	width:15%;
	text-align:left;
}

.autorAdv a{
	display:block;
	color: rgb(0,0,0); 
	text-decoration: none; 
	outline: none;
	padding-left:2px;
}
.autorAdv a:hover{
	background-color:rgb(244,244,244);
	text-decoration:underline;
}
.sectionAdv{
	float:left;
	margin-left:25px;
	width:100%;
	text-align:left;
	margin-top:5px;
}

.sectionBorder{
	width:55%;
	float:left;
}

.titleAdv{
	float:left;
	width:80%;
}

.textAdv{
	float:left;
	text-align:left;
	margin-left:25px;
	margin-top:5px;
	width:95%;
}

/*	advertisings END	*/
/*	league START	*/

.leagues{
	width:80%;
	margin:auto;
	position:relative;
	background-color: rgb(242,242,242);
}

.leagueOne{
	display:inline-block;
	position:relative;
	margin-left:10px;
}

.leagueOne{
	border-radius:10px;
	padding:5px;
}

.leagueOne:hover{
	background-color: rgb(202,202,202);
}

/*	league END	*/
/*	clan START	*/

.createClan{
	background-color: rgb(242,242,242);
	border-radius:10px;
	margin:auto;
	padding:5px;
	width:25%;
}

.createClan a{
	display:block;
	color: rgb(0,0,0); 
	text-decoration: none; 
	outline: none;
	padding:5px;
	border-radius:10px;
}

.createClan a:hover{
	background-color: rgb(174,242,174);
}

.createClan a{
	background-color: rgba(174,242,174,.5);
	width:159px;
	margin:auto;
}

.createClan input{
	margin-bottom:5px;
}

.clanMenu{
	width:75%;
	margin:auto;
	background-color: rgb(242,242,242);
	border-radius:10px 10px 0 0;
	position:relative;
}

.clanMenuItem{
	display:inline-block;
	position:relative;
	padding:5px;
	border-radius:10px;
}

.clanMenuItem:hover{
	background-color: rgb(174,242,174);
}

.nameClanMenuItem{
	padding-bottom:5px;
}

#itemClan{
	width:75%;
	background-color: rgb(242,242,242);
	margin:auto;
	border-radius: 0 0 10px 10px;
	margin-top:10px;
}

#itemClan ul:first-child{
	width:50%;
	margin:auto;
	margin-top:10px;
	padding:5px;
	border:1px solid rgb(140,181,140);
	border-radius:10px;
}

#itemClan tr td input{
	width:105px;
	outline: none;
	padding:2px;
	border: 1px solid rgb(140,181,140);
}

#buttonsTitles a{
	border-radius:5px;
	padding:4px;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	text-decoration:none;
	color:black;
	background-color: rgb(174,242,174);
	margin-left:10px;
}

#buttonsTitles a:hover{
	background-color: rgb(144,212,144);
}

#buttonsTitles{
	padding-bottom:10px;
	padding-top:10px;
}

#itemClan table{
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	width:100%;
}

#itemClan table td{
	padding:5px;
}

#itemClan table tr:first-child{
	background-color:rgba(140, 181, 140, .5);
}

#itemClan table tr:first-child td{
	border-radius:5px;
}

#liFirst{
	color:rgb(100,141,100);
}

#offers{
	width:70%;
	margin:auto;
	min-height:80px;
}

#clanUsersUl li:first-child{
	border:0;
}

#clanUsersUl li{
	border-top:1px solid rgb(141,180,141);
}

#offers li:first-child{
	border:0;
}

#offers li{
	border-top:1px solid rgb(141,180,141);
}

.nameClanUser{
	display:inline-block;
	position:relative;
	width: 24%;
	float:left;
	border-right:1px solid rgb(140,181,140);
	padding-top:3px;
}

.titleClanUser{
	display:inline-block;
	position:relative;
	width:15%;
	padding-top:3px;
}

.adminControl{
	display:inline-block;
	position:relative;
	width:10%;
	padding-top:3px;
}

.adminControl a{
	float:right;
	padding:3px;
	padding-left:10px;
	line-height: 0;
	height:100%;
	text-decoration:none;
	margin-top:-3px;
	float:right;
}

.adminControl a:first-child:hover{
	background-color: rgb(144,182,144);
	border-radius:0 10px 10px 0;
}
.adminControl a:hover{
	background-color: rgb(144,182,144);
}

.goldClanUser{
	display:inline-block;
	position:relative;
	width:15%;
	border-right:1px solid rgb(140,181,140);
	height:21px;
	float:left;
}

.formTreasury ul{
	padding:5px;
	float:left;
}

.formTreasury ul li{
	margin-top:4px;
	width:130px;
	text-align:left;
}

.formTreasury ul li input{
	width:63px;
	padding:1px;
}

#minLvl{
	width:30px;
}

#itemClan #minLvl{
	outline:none;
	border:1px solid rgb(169, 169, 169);
	padding:1px;
}

#itemClan #minLvl:focus{
	border:1px solid rgb(140, 181, 140);
}

#maxLvl{
	width:30px;
}

#goldRate{
	width:100px;
}

#anotherRate{
	width:100px;
}

.inputClass{
	outline: none;
	padding:2px;
	border: 1px solid rgb(140,181,140);
	border-radius:5px;
}

.formTreasury{
	right:0;
	margin-right:10%;
	position:fixed;
}

.formTreasury a{
	border-radius:5px;
	padding:3px;
	margin-top:10px;
	text-decoration:none;
	color:black;
	background-color: rgb(160,201,160);
}

.formTreasury a:hover{
	background-color: rgb(134,202,134);
}

#rateForm a{
	border-radius:5px;
	padding:3px;
	text-decoration:none;
	color:black;
	padding-left:25px;
	padding-right:25px;
	background-color: rgb(174,242,174);
}

#rateForm a:hover{
	background-color: rgb(134,202,134);
}

.clanWorkshopItem{
	margin:auto;
	margin-bottom:5px;
	width:100%;
	height:50px;
}

#dislikePlatz{
	margin-left:3px;
	background-color:rgb(200, 88, 88);
	border-radius:10px;
	padding-left:4px;
	padding-right:4px;
}

#dislikePlatz:hover{
	background-color:rgb(200, 28, 28);
}

#likePlatz{
	border-radius:10px;
	background-color:rgb(99,200,99);
	padding-left:4px;
	padding-right:4px;
}

#likePlatz:hover{
	background-color:rgb(39,200,39);
}

.clanUser{
	
}

.clanUser:hover{
	border-radius:10px;
	background-color:rgba(81,145,81,.2);
}

.lvlRate{
	width:25%;
	display:inline-block;
	border-bottom:1px solid rgb(81,140,81);
	padding:3px;
}

#rateForm li{
	border-radius:10px;
}

#rateForm li:last-child .rate{
	border-bottom:0;
}

#rateForm li:last-child .lvlRate{
	border-bottom:0;
}

.rate{
	padding:3px;	
	width:34%;
	display:inline-block;
	border-left:1px solid rgb(81,140,81);
	border-bottom:1px solid rgb(81,140,81);
}

.editingTitle{
	background-color:rgba(140,181,140, .8);
	border-radius:15px;
	padding-top:1px;
	display:none;
}

.editingTitle:hover{
	background-color:rgb(140,181,140);
}

.deleteTitle{
	background-color:rgba(140,181,140, .8);
	border-radius:15px;
	padding-top:1px;
	display:none;
}

.deleteTitle:hover{
	background-color:rgb(140,181,140);
}

#modeTitles:hover{
	background-color:rgb(140,181,140);
}

.clanViewUsers{
	width:75%;
	margin:auto;
	padding:5px;
	border:1px solid rgba(40,81,40, .5);
	border-radius:10px;
}

.countClan{
	padding:3px;
}

/*	clan END	*/
/*	client START	*/

#message{
	float:left;
	margin-left:2px;
	padding:5px;
}

.avatar #writeMessage{
	padding:2px;
	padding-left:10px;
	padding-right:10px;
	background-color: rgb(180,221,180);
	text-decoration:none;
	color:black;
	border-radius:10px;
}

.avatar #writeMessage:hover{
	background-color: rgb(134,202,134);
}

#ulClient{
	float:left;
}

#message input{
	margin:2px;
	padding: 1px;
	border:1px solid darkgrey;
}

#message input:focus{
	border:1px solid rgb(140,181,140);
}

#message a, #options a{
	border-radius:5px;
	padding:3px;
	text-decoration:none;
	color:black;
	padding-left:25px;
	padding-right:25px;
	background-color: rgb(180,221,180);
}

#message a:hover, #options a:hover{
	background-color: rgb(134,202,134);
}

#description{
	background-color:rgb(242,242,242);
	width:348px;
	min-height:160px;
}

/* client END	*/
/*	statistic START		*/

#statisticPageBlock{
	width:96%;
	float:right;
}

#statisticPageBlock .column {
	display:inline-block;
}

.column{
	float:left;
	margin-left:5px;
}

#statisticPageBlock .botStatistic table{
	width:260px;
}
#statisticPageBlock table td{
	text-align:center;
}

/*	statistic END	*/
/*	memoryPuzzle START	*/

#myGames{
	float:right;
	width:180px;
}

#myGames div{
	margin-bottom:5px;
	text-align:left;
}

#memoryPuzzle table tr td{
	border:1px solid rgb(140,181,140);
	cursor:default;
	font-size:45px;
	padding:15px;
	width:51px;
	height:18px;
	text-align:center;
}

#memoryPuzzle{
	margin-left:300px;
	margin-bottom:70px;
}

#memoryPuzzle table tr td:hover{
	background-color:rgba(140,181,140, .5);
}

#memoryPuzzle table tr td:active {
	background: rgba(140,181,140, .7);
}  

#memoryPuzzle .opened{
	background-color:rgb(140,181,140);
}

#memoryPuzzle .ready{
	background-color:rgb(140,140,181);
}

.trail{
	background-color:rgb(140,111,111);
}
/*	memoryPuzzle END	*/
/*	simon START	*/

#Simon{
	margin-left:400px;
	margin-top:150px;
	cursor:default;
}

#Simon tr{
	height:100px;
}

#Simon tr td{
	padding:25px;
}

#Simon a{
	background-color:rgba(140,181,140, .7);
	padding:10px;
	font-size:25px;
	text-decoration:none;
	color:white;
}

#Simon a:hover{
	background-color:rgb(140,181,140);
}



.SimonButton:hover{
	background-color:rgba(140,181,140, .2);
}

.SimonButton:active{
	background: rgba(111, 111, 221, .5);
}

.hoveredSimon{
	background-color:rgb(140,181,140);
}

#Simon .SimonButton{
	border:1px solid black;
	border-radius:50px;
	padding:50px;
}

/*	simon END	*/
/*	sokoban START	*/

#Sokoban table{
	margin:auto;
	border:2px solid black;
	border-collapse:collapse;
}

#Sokoban td{
	padding:8px;
}

#Sokoban .left{
	border-left:2px solid black;
}

#Sokoban .right{
	border-right:2px solid black;
}

#Sokoban .top{
	border-top:2px solid black;
}

#Sokoban .bottom{
	border-bottom:2px solid black;
}

#Sokoban .user{
	background-color: rgb(100,100,181);
}

#Sokoban .exit{
	background-color: rgb(181,100,100);
}

.trailSokoban{
	background-color:rgba(166, 111, 111, .5);
}
/*	sokoban END	*/

#phpfile{
	color: blue;
}

#jsfile{
	color:lightblue;
}

#dir{
	color: red;
}

#pngfile{
	color: pink;
}

#tplfile{
	color: green;
}

/*	availableWorks START	*/

.titleWork{
	text-align: center;
	font-weight: 700;
}

.resWork{
	text-align: left;
}

.requireWork{
	text-align: left;
}

/*	available END	*/
/*	battle START	*/

#battle_choice_menu{
	border:1px solid rgb(140, 181, 140);
	padding:5px;
	border-radius:10px;
	position:fixed;
	width:120px;
	right:200px;
}

#battle_choice_menu li{
	margin-top:10px;
}

#battle_choice_menu a{
	background-color:rgba(140,181,140, .7);
	padding:5px;
	border-radius: 10px;
	text-decoration:none;
	color:white;
}

#battle_choice_menu a:hover{
	background-color:rgb(140,181,140);
}

#battleTaible{
	margin-left:20%;
}

#battleTaible td{
	width:40px;
	height:40px;
	text-align:center;
	vertical-align: middle;
	overflow: hidden;
	word-break:break-all;
}

.rock{
	background-color: rgb(181, 181, 181);
	-webkit-background-size: 100%;
	background-image: url(rock.png);
}

.forest{
	background-color: rgb(186, 225, 186);
	-webkit-background-size: 100%;
	background-image: url(forest.png);
}

.field{
	background-color: rgba(140, 181, 140, .4);
}

.greyUser{
	background-color: rgba(122, 122, 122, .5);
	#border: 1px solid black;
}

.whiteUser{
	background-color: rgba(60, 60, 130, .5);
	#border: 1px solid black;
}

.blackUser{
	background-color: rgba(150, 60, 60, .5);
	#border: 1px solid black;
}

.user_two_weapon{
	background-image: url(../image_char/image/two.png);
}

.user_SecondHit_weapon{
	background-image: url(../image_char/image/SecondHit.png);
}

.user_staff_weapon{
	background-image: url(../image_char/image/staff.png);
}

.user_shield_weapon{
	background-image: url(../image_char/image/shield.png);
}

.user_one_weapon{
	background-image: url(../image_char/image/one.png);
}

.user_staff_weapon, .user_two_weapon, .user_SecondHit_weapon, .user_shield_weapon, .user_one_weapon{
	-webkit-background-size: 65%;
	background-repeat: no-repeat;
}

#battle_choice_table{
	margin:auto;
	padding:10px;
	border:1px solid rgb(53, 113, 53);
	border-radius:10px;
}

#battle_choice_table td{
	padding:3px;
}

#battle_choice_table  tr{
	padding: 2px;
	border: 1px solid rgba(140, 181, 140, .5);
	margin-top:3px;
	cursor:default;
}
#battle_choice_table .trHover:hover{
	background-color: rgba(140, 181, 140, .5);
}

.choosedBattle{
	background-color: rgba(81, 81, 140, .4);
}

.canSpawn{
	background-color: white;
	border: 1px solid black;
}

.canSpawn :hover{
	background-color: rgba(111, 111, 111, .3);
}

#battle_Hp{
	width:50px;
	height:416px;
	border:1px solid rgba(72,72,72,0.7);
	position: absolute;
	right:13%;
	border-radius: 0 0 10px 10px;
	margin-top:2px;
}

#current_battle_Hp{
	background-color:rgba(211,128,120,0.4);
	width: 50px;
	border-radius: 0 0 10px 10px;
	position: absolute;
	bottom:0;
}

#battle_information{
	position: absolute;
	right:50px;
	text-align:left;
}

#battle_skill_bar{
	border:1px solid rgba(140, 181, 140, .6);
	width: 842px;
	height:44px;
	margin-left:20%;;
}

.battle_skill{
	width:40px;
	padding:2px;
	float:left;
}

.battle_skill:hover{
	background-color:rgba(111, 111, 111, .3);
}

.choosedSkill{
	background-color: rgba(60, 60, 130, .5);
}

.numberSKill{
	text-align:center;
}

.basttle_skill:hover:after{
	content: attr(data-text);
    position: absolute; 
    z-index: 1; 
    background: rgba(0,0,0,0.7); 
    color: #fff;
    text-align: center;
    padding: 10px;
	width:70px;
}

#skillInfo{
	width:15%;
	height:412px;
	position: absolute;
	margin-left: 4.2%;
	margin-top:2px;
	border:1px solid rgb(122, 122, 122);
	padding:3px;
	text-align:left;
}

#timer_battle{
	border:1px solid red;
	text-align:center;
	margin:auto;
	width:100px;
	margin-top:14px;
}

.canGo{
	background-image: url(trail.png);
	-webkit-background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.canAttack{
	background-image: url(attack.png);
	-webkit-background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.canAttack:hover{
	background-color: rgba(130, 60, 60, .3);
}

.canGo:hover{
	background-color: rgba(60, 60, 130, .3);
}

#tooltip {
    z-index: 9999;
	position: absolute;
	display: none;
	top:0px;
	left:0px;
	background-color: rgba(0,0,0, .5);
	padding: 20px 10px;
	color: white;
	border-radius: 5px; 
}